h1 {
	color: #FFD233;
	background-color: #33FFDC;
	text-align: center;
}
h5{
	opacity: 0.5;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
p {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
body {
	background-color: #C9048D
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
}